.header {
  /* background-color: yellow; */
  color: black;
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; /* 세로에서 가운데에 요소를 배치 */
}

.header_left {
  flex: 1;
  text-align: left;
  padding-left: 20px;
  justify-content: flex-start;
}

.header_left_button {
  z-index: 1;
  cursor: pointer;
  width: 200px;
  height: 60px;
  background: #ce89c8;
  border: 3px #aa47a2 solid;
  border-radius: 40px;
  /* box-shadow: 0 10px 0 darken(#ce89c8, 20%); */
  box-shadow: 0 10px 0 #aa47a2;
  transition: all 100ms; /* easeInOutExpo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_left_button:hover {
  transform: translate(0, 6px);
  box-shadow: 0 4px 0 #aa47a2;
}

.header_left_button_text {
  color: white;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.header_left_button_icon {
  width: 40px;
  height: 40px;
  color: white;
}

.header_right {
  flex: 1;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.header_right_button_login {
  z-index: 1;
  cursor: pointer;
  width: 140px;
  height: 60px;
  background: #fb9cbb;
  border: 3px #f73a78 solid;
  border-radius: 40px;
  /* box-shadow: 0 10px 0 darken(#ce89c8, 20%); */
  box-shadow: 0 10px 0 #f73a78;
  transition: all 100ms; /* easeInOutExpo */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_right_button_login:hover {
  transform: translate(0, 6px);
  box-shadow: 0 4px 0 #f73a78;
}

.header_right_button_login_text {
  color: white;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.header_right_item {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(https://greghub.github.io/coloron/public/svg/cursor.svg), pointer;
}

.header_right_item:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.header_right_item:focus :active {
  cursor: url(https://greghub.github.io/coloron/public/svg/cursor-tap.svg), pointer;
}

.header_right_account_button {
  color: white;
  font-size: 0.9rem;
}

.header_right_icon {
  width: 100%;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 3px;
}

.dropdown_content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.dropdown_content div {
  padding: 15px 16px;
  font-size: 1.3rem;
  color: black;
}

.dropdown_content p {
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.dropdown_content div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: url(https://greghub.github.io/coloron/public/svg/cursor.svg), pointer;
}

.dropdown_content div:active {
  cursor: url(https://greghub.github.io/coloron/public/svg/cursor-tap.svg), pointer;
}

.header_right_item:hover .dropdown_content {
  display: block;
  animation: fade-in 300ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown_menu {
  display: flex;
}

.dropdown_icon {
  height: 2rem;
  width: 2rem;
}
