.loading_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.loading_screen {
  margin-top: -100px;
  position: relative;
  width: 400px;
  height: 400px;
  opacity: 1;
  transform: translatex(0px) translatey(0px) rotate(0deg);
  animation: dropLoad 0.4s ease-in 0s 1;
}

.base {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatex(83.5px) translatey(187.5px);
  z-index: 1;
}

.wheel {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatex(80px) translatey(72.5px) rotate(0deg);
  animation: rotateWheel 20s linear 0s infinite;
  z-index: 2;
}

/* .contents {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  border: #0260a9 2px solid;
  opacity: 0;
  border-radius: 4px;
  animation: fade 0.4s linear 0.8s 1 forwards;
}

.contents:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-color: #74b9ff;
  animation: load 20s linear 0.8s infinite forwards;
}

.contents:after {
  content: 'Loading...';
  position: absolute;
  font-size: 2rem;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  text-align: center;
  animation: loadMessage 20s linear 0.8s infinite forwards;
} */

@keyframes fade {
  to {
    opacity: 1;
  }
}

@keyframes dropLoad {
  from {
    opacity: 0;
    transform: translatex(0px) translatey(-20px) rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: translatex(0px) translatey(0px) rotate(0deg);
  }
}

@keyframes rotateWheel {
  from {
    transform: translatex(80px) translatey(72.5px) rotate(0deg);
  }
  to {
    transform: translatex(80px) translatey(72.5px) rotate(360deg);
  }
}

@keyframes load {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  80% {
    width: 75%;
  }
  95% {
    width: 85%;
  }
  96% {
    width: 90%;
  }
  98% {
    width: 98%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loadMessage {
  0% {
    content: '광장으로 떠날 준비를 해볼까요?';
  }
  30% {
    content: '광장에서는 많은 친구들을 만날 수 있어요!';
  }
  50% {
    content: '광장에서 많은 연습을 해보세요.';
  }
  60% {
    content: '조금만 기다려주세요!';
  }
  80% {
    content: '잠시 후 광장으로 입장합니다!';
  }
  90% {
    content: '자, 이제 광장으로 떠나볼까요?';
  }
  95% {
    content: '모든 준비가 끝났습니다. 환영합니다!';
  }
}

.ch_icon {
  z-index: 10;
  width: 140px;
  position: absolute;
  left: calc(50% - 140px / 2);
  top: 42%;
  animation: bounce 1.5s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-15px);
  }
  40% {
    transform: translateY(-45px);
  }
  60% {
    transform: translateY(-30px);
  }
}

.loading_text {
  position: absolute;
  top: 70px;
}

span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounceText 0.8s ease infinite alternate;
  font-size: 80px;
  -webkit-text-stroke: 3px #1c70b2;
  color: #fff;
}

span:nth-child(2) {
  animation-delay: 0.1s;
}

span:nth-child(3) {
  animation-delay: 0.2s;
}

span:nth-child(4) {
  animation-delay: 0.3s;
}

span:nth-child(5) {
  animation-delay: 0.4s;
}

span:nth-child(6) {
  animation-delay: 0.5s;
}

span:nth-child(7) {
  animation-delay: 0.6s;
}

span:nth-child(8) {
  animation-delay: 0.7s;
}

span:nth-child(9) {
  animation-delay: 0.8s;
}

span:nth-child(10) {
  animation-delay: 0.9s;
}

/* ANIMATION */
@keyframes bounceText {
  100% {
    top: -10px;
  }
}
