/* .flex_wrapper {
  display: flex;
  flex-flow: row nowrap;
} */

/* .single_chart {
  width: 50%;
  justify-content: space-around;
} */

.circular_chart {
  display: block;
  max-height: 280px; /* 원의 크기 */
  height: 100%;
}

.circle_bg {
  fill: none;
  /* stroke: rgba(190, 190, 190, 0.9); */
  stroke: #c0c0c0dc;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  stroke: #4c81c7;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.percentage {
  fill: #666;
  font-size: 0.5em;
  text-anchor: middle;
}
