.background_position {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  /* birdComp가 overflow 됨 */
  overflow: hidden;
}

/* .background_res {
  max-width: 1920px;
  width: 100%;
  position: relative;
}

.background_res > div {
  padding-bottom: 50%;
  width: 100%;
} */

.background_image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.background_cloud {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: moveCloud 100s linear infinite;
  z-index: -1;
}

@keyframes moveCloud {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 90vw 0;
  }
}
