.home_container {
  height: 100vh;
  text-align: center;
}

.home_items {
  width: 850px;
  height: 80vh;
  display: inline-block;
  justify-content: center;
  position: relative;
}

.home_logo {
  padding-top: 70px;
  position: relative;
}

.home_logo_image {
  width: 750px;
}

.home_logo_hz {
  position: absolute;
  width: 150px;
  top: 250px;
  right: 230px;

  animation: rotate 1.5s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.home_buttons {
  position: absolute;
  left: -10px;
  bottom: 80px;
  display: flex;
  flex-direction: row;
}

.home_button {
  padding: 0 8px;
}
