.main_background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main_container {
  height: 100vh;
  width: 200vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 200vw;
  height: 10px;
  background-color: red;
  transition: all 0.5s ease-in-out;
  transform: translateX(100vw);
}

.burger_container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger_image {
  width: 1100px;
  height: 680px;
  /* border: red solid 10px; */
  position: relative;
  display: flex;
  justify-content: center;
}

.burger_cards {
  position: absolute;
  bottom: 50px;
}

.bus_container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bus_image {
  margin-top: 30px;
  width: 1150px;
  height: 670px;
  /* border: red solid 10px; */
  position: relative;
}

.bus_cards {
  position: absolute;
  top: 90px;
  left: 220px;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  40% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  60% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(15px);
  }
  40% {
    transform: translateX(-15px);
  }
  60% {
    transform: translateX(0);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  40% {
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  60% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.arrow {
  width: 100px;
  height: 100px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9Ii02MyAtMTYgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtNjMgLTE2IDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0zMjYuMSwyMDMuMmMyMC4yLDIwLjIsMTkuOSw1My4yLTAuNiw3My43bDAsMGMtMjAuNSwyMC41LTUzLjUsMjAuOC03My43LDAuNmwtMTkwLTE5MEM0MS43LDY3LjMsNDIsMzQuNCw2Mi41LDEzLjhsMCwwQzgzLTYuNywxMTYtNi45LDEzNi4xLDEzLjNMMzI2LjEsMjAzLjJ6Ii8+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTMyNi4xLDI3Ni44YzIwLjItMjAuMiwxOS45LTUzLjItMC42LTczLjdsMCwwYy0yMC41LTIwLjUtNTMuNS0yMC44LTczLjctMC42bC0xOTAsMTkwYy0yMC4yLDIwLjItMTkuOSw1My4yLDAuNiw3My43bDAsMGMyMC41LDIwLjUsNTMuNSwyMC44LDczLjcsMC42TDMyNi4xLDI3Ni44eiIvPjwvc3ZnPg==);
  background-size: contain;
  cursor: pointer;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.next_arrow {
  margin-top: 40px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.next_arrow:hover {
  transform: scale(1.2);
  transition: 200ms;
}

.prev_arrow {
  margin-top: 40px;
  margin-left: -50px;
  margin-right: 50px;
  transform: rotate(180deg);
  filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.5));
}

.prev_arrow:hover {
  transform: rotate(180deg) scale(1.2);
  transition: 200ms;
}
